flows.json
[
    {
        "id": "8ecfdd88.6924c",
        "type": "tab",
        "label": "Data Generation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76cd96fb.e1e968",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd50fc6a.d8451",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8dde367.78ca2c8",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard - Refrigerated Trucks",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "820f6c8f.82131",
        "type": "ui_group",
        "z": "",
        "name": "Truck Counts",
        "tab": "8dde367.78ca2c8",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "b8fe4a64.a00338",
        "type": "MSSQL-CN",
        "z": "",
        "tdsVersion": "7_4",
        "name": "MarketplaceStage",
        "server": "ltimosaicthings.database.windows.net",
        "port": "1433",
        "encyption": true,
        "database": "MarketplaceStage",
        "useUTC": false,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false
    },
    {
        "id": "3c6f0c0e.000054",
        "type": "ui_group",
        "z": "",
        "name": "Live Location",
        "tab": "8dde367.78ca2c8",
        "order": 2,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "36d75965.55e336",
        "type": "ui_group",
        "z": "",
        "name": "Alerts",
        "tab": "8dde367.78ca2c8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f81c5fe5.50035",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "820f6c8f.82131",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d8470e2d.4098d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "820f6c8f.82131",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d076fd9d.08ace",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "820f6c8f.82131",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "90efb0d8.90b5d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "820f6c8f.82131",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "ffe4e15d.34c5d",
        "type": "ui_group",
        "z": "",
        "name": "Truck List",
        "tab": "68688a17.51c244",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "68688a17.51c244",
        "type": "ui_tab",
        "z": "",
        "name": "All Trucks",
        "icon": "view_list",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "957f1406.50ea08",
        "type": "ui_group",
        "z": "",
        "name": "Truck Details",
        "tab": "a2370cbe.9fa0f",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "a2370cbe.9fa0f",
        "type": "ui_tab",
        "z": "",
        "name": "Truck View",
        "icon": "local_shipping",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b17d4fb4.1c03c",
        "type": "ui_group",
        "z": "",
        "name": "Current Status",
        "tab": "a2370cbe.9fa0f",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "f37bbb11.618178",
        "type": "ui_group",
        "z": "",
        "name": "Live Location",
        "tab": "a2370cbe.9fa0f",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "924cbba1.028fb8",
        "type": "ui_group",
        "z": "",
        "name": "Journey Details",
        "tab": "a2370cbe.9fa0f",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "a58f1398.0ba36",
        "type": "ui_group",
        "z": "",
        "name": "Telemetry Data",
        "tab": "a2370cbe.9fa0f",
        "order": 5,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "1997eac7.72e8a5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "957f1406.50ea08",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "cfc72484.5fc7a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "957f1406.50ea08",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "814b10ae.b620d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "957f1406.50ea08",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "272ed0d4.1e586",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "957f1406.50ea08",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f26e6ea8.258d6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b17d4fb4.1c03c",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "80d25eab.a4423",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b17d4fb4.1c03c",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "57a72a4a.de9f34",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b17d4fb4.1c03c",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "a79200e2.26ad5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b17d4fb4.1c03c",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "e38f9572.7730c8",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "820f6c8f.82131",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "All Trucks",
        "format": "{{msg.payload[0].count}}",
        "layout": "col-center",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "6d233ae3.95b144",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "820f6c8f.82131",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Online",
        "format": "{{msg.payload.online}}",
        "layout": "col-center",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "fbdcf2ea.e4577",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "820f6c8f.82131",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Offline",
        "format": "{{msg.payload.offline}}",
        "layout": "col-center",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "3f5b7f54.0a9cb",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "820f6c8f.82131",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "On Duty",
        "format": "{{msg.payload[0].onduty}}",
        "layout": "col-center",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "6ce69b51.5602a4",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "820f6c8f.82131",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Issues",
        "format": "{{msg.payload.length}}",
        "layout": "col-center",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "907aa787.fe59d8",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "e38f9572.7730c8"
            ]
        ]
    },
    {
        "id": "66c67f6.d9de28",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "all trucks count",
        "func": "query=`select count(*) as count from trucks`;\nmsg.payload=query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "907aa787.fe59d8"
            ]
        ]
    },
    {
        "id": "c7b356a3.840858",
        "type": "inject",
        "z": "76cd96fb.e1e968",
        "d": true,
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "66c67f6.d9de28",
                "c02dba78.d53868",
                "c4140280.17b47",
                "a6b687a.4cc1f78"
            ]
        ]
    },
    {
        "id": "3bd421f4.db0cce",
        "type": "comment",
        "z": "76cd96fb.e1e968",
        "name": "S1 - Pull data from database",
        "info": "",
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "c02dba78.d53868",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "select count(truckId) as onduty from jobs where status = 'active' ",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "3f5b7f54.0a9cb"
            ]
        ]
    },
    {
        "id": "c4140280.17b47",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "select t.truckId, maxd.ts, td.fuel, td.temperature, td.humidity, td.lat, td.lon from trucks as t left join (select truckId, MAX(timestamp) as ts from telemetryData group by truckId) as maxd on t.truckId=maxd.truckId left join telemetryData td on t.truckId = td.truckId where maxd.ts = td.timestamp",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "f2d4e7ed.e7e698",
                "3c133650.f5548a",
                "973b7313.28be8"
            ]
        ]
    },
    {
        "id": "f2d4e7ed.e7e698",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "online/offline condition",
        "func": "var online=0;\nvar offline =0;\n\nvar trucks = msg.payload;\nfor(var i=0; i < trucks.length; ++i ){\n    var acceptedTime = new Date().getTime()-60000;\n    if(trucks[i].ts > acceptedTime){\n        online++;\n    }\n    else{\n        offline++;\n    }\n}\n\nmsg.payload={\nonline,\noffline\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "6d233ae3.95b144",
                "fbdcf2ea.e4577"
            ]
        ]
    },
    {
        "id": "a6b687a.4cc1f78",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "select truckId,type, timestamp, issue from alerts where timestamp > DateAdd(DD,-1,GETDATE()) order by timestamp desc",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "6ce69b51.5602a4",
                "28931335.849bdc"
            ]
        ]
    },
    {
        "id": "3c133650.f5548a",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "live locations of trucks",
        "func": "var trucks= msg.payload;\n\nmsg.payload= trucks.map(truck=>{\n    return{\n    name:truck.truckId,\n    timestamp: truck.ts,\n    lat: truck.lat,\n    lon: truck.lon,\n    fuel: truck.fuel,\n    temperature: truck.temperature,\n    humidity: truck.humidity,\n    icon : ':truck:',\n    label : truck.truckId.toString()\n    }\n})\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "4d68606a.5e7b6"
            ]
        ]
    },
    {
        "id": "8ed6eb59.bb80f8",
        "type": "ui_list",
        "z": "76cd96fb.e1e968",
        "group": "36d75965.55e336",
        "name": "",
        "order": 1,
        "width": 6,
        "height": 10,
        "lineType": "three",
        "actionType": "click",
        "allowHTML": true,
        "outputs": 1,
        "topic": "",
        "x": 630,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "28931335.849bdc",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "Alerts",
        "func": "var issues=msg.payload;\n\nvar alerts = []\n\nfor (var i =0 ; i<issues.length;i++){\n    console.log('-------------',i);\n    alerts.push({\n        \"title\": `<font color=\\\"red\\\"><b>${issues[i].issue}</b></b>`,\n        \"description\": `Truck having issue is ${issues[i].truckId}`,\n        \"icon_name\": \"error\",\n        \"truckid\": issues[i].truckId\n    })\n}\nconsole.log(alerts);\nmsg.payload=alerts;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 480,
        "wires": [
            [
                "8ed6eb59.bb80f8"
            ]
        ]
    },
    {
        "id": "d207a4e8.b217a8",
        "type": "comment",
        "z": "76cd96fb.e1e968",
        "name": "S2 - Print all the trucks in a table",
        "info": "",
        "x": 270,
        "y": 580,
        "wires": []
    },
    {
        "id": "d4528e5d.b8376",
        "type": "comment",
        "z": "8ecfdd88.6924c",
        "name": "Send Data to IoT Hub",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "cebc1992.03a458",
        "type": "azureiothub",
        "z": "8ecfdd88.6924c",
        "name": "Azure IoT Hub",
        "protocol": "amqp",
        "x": 1300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b2354f52.05766",
        "type": "function",
        "z": "8ecfdd88.6924c",
        "name": "Data generation - 10010",
        "func": "var truckId = 10010;\nvar lat = msg.payload.Latitude;\nvar lon = msg.payload.Longitude;\n\n//range [-5,20]\nvar temperature = -5 + Math.round(20*Math.random());\n\n//range [30,50]\nvar humidity = 30 + Math.round(20*Math.random());\n\n//range [30,99]\nvar fuel = 30 + Math.round(69*Math.random());\nvar timestamp = new Date().toISOString();\n\nmsg.payload = {\n    timestamp : timestamp,\n    truckId : truckId,\n    fuel : fuel,\n    temperature : temperature,\n    humidity : humidity,\n    lat : lat,\n    lon : lon,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 100,
        "wires": [
            [
                "342a1bc3.16f574"
            ]
        ]
    },
    {
        "id": "270d0eb7.e1bf22",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "TelemetryData",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "4be845be.54b54c"
            ]
        ]
    },
    {
        "id": "4be845be.54b54c",
        "type": "file in",
        "z": "8ecfdd88.6924c",
        "name": "Thane-Dadar",
        "filename": "C:\\Users\\Tanmay\\Desktop\\SimulationData\\thane-dadar.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "b71107b8.31e4a8"
            ]
        ]
    },
    {
        "id": "b71107b8.31e4a8",
        "type": "csv",
        "z": "8ecfdd88.6924c",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "ea91d7b3.5a3868"
            ]
        ]
    },
    {
        "id": "c1a0be7a.f1638",
        "type": "function",
        "z": "8ecfdd88.6924c",
        "name": "Data generation - 10001",
        "func": "var truckId = 10001;\nvar lat = msg.payload.latitude;\nvar lon = msg.payload.longitude;\n\n//range [-5,20]\nvar temperature = -5 + Math.round(20*Math.random());\n\n//range [30,50]\nvar humidity = 30 + Math.round(20*Math.random());\n\n//range [30,99]\nvar fuel = 30 + Math.round(69*Math.random());\nvar timestamp = new Date().toISOString();\n\nmsg.payload = {\n    timestamp : timestamp,\n    truckId : truckId,\n    fuel : fuel,\n    temperature : temperature,\n    humidity : humidity,\n    lat : lat,\n    lon : lon,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 180,
        "wires": [
            [
                "e0141fd7.603dc"
            ]
        ]
    },
    {
        "id": "3e0c4eb.9eabcb2",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "TelemetryData",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "7f6cab7a.d9f4e4"
            ]
        ]
    },
    {
        "id": "7f6cab7a.d9f4e4",
        "type": "file in",
        "z": "8ecfdd88.6924c",
        "name": "bandra-powai",
        "filename": "C:\\Users\\10652025\\Desktop\\trucks usecase\\bandra-powai.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "4c5f0062.5a445"
            ]
        ]
    },
    {
        "id": "4c5f0062.5a445",
        "type": "csv",
        "z": "8ecfdd88.6924c",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "3f9e2933.61bd46"
            ]
        ]
    },
    {
        "id": "ea91d7b3.5a3868",
        "type": "delay",
        "z": "8ecfdd88.6924c",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "b2354f52.05766"
            ]
        ]
    },
    {
        "id": "3f9e2933.61bd46",
        "type": "delay",
        "z": "8ecfdd88.6924c",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "c1a0be7a.f1638"
            ]
        ]
    },
    {
        "id": "342a1bc3.16f574",
        "type": "json",
        "z": "8ecfdd88.6924c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "cebc1992.03a458"
            ]
        ]
    },
    {
        "id": "e0141fd7.603dc",
        "type": "json",
        "z": "8ecfdd88.6924c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "cebc1992.03a458"
            ]
        ]
    },
    {
        "id": "eae0c67d.d26fc8",
        "type": "function",
        "z": "8ecfdd88.6924c",
        "name": "negative data",
        "func": "msg.payload={\n    timestamp : new Date().toISOString(),\n    truckId : 10010,\n    fuel : 50,\n    temperature : 14,\n    humidity : 10,\n    lat : 19.12225,\n    lon : 72.92546\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 40,
        "wires": [
            [
                "342a1bc3.16f574"
            ]
        ]
    },
    {
        "id": "2cdbe11.6ff831e",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Alert injection",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 710,
        "y": 40,
        "wires": [
            [
                "eae0c67d.d26fc8"
            ]
        ]
    },
    {
        "id": "11616ff3.8765a",
        "type": "MSSQL",
        "z": "8ecfdd88.6924c",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "5af1203b.04b85"
            ]
        ]
    },
    {
        "id": "56bfb88a.d001b8",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Trucks Table",
        "topic": "",
        "payload": "create table trucks1 (     truckId int primary key,     licensePlate nvarchar(10),     onduty int,     driverName nvarchar(50),     mobileNumber nvarchar(15),     reportTo nvarchar(20),     connectivityType nvarchar(15),     createdAt datetimeoffset(7) )",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "11616ff3.8765a"
            ]
        ]
    },
    {
        "id": "5af1203b.04b85",
        "type": "debug",
        "z": "8ecfdd88.6924c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "7f042ee7.165c9",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Jobs Table",
        "topic": "",
        "payload": "create table jobs1 (     jobId int,     truckId int,     startLat decimal(7,5),     startLon decimal(7,5),     destinationLat decimal(7,5),     destinationLon decimal(7,5),     distanceToCover int,     expectedArrivalTime datetimeoffset(7),     status nvarchar(10),     startDate datetimeoffset(7),     completedAt datetimeoffset(7),     FOREIGN KEY (truckId) REFERENCES trucks(truckId) )",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "11616ff3.8765a"
            ]
        ]
    },
    {
        "id": "8870f35b.836dd",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Telemetry Table",
        "topic": "",
        "payload": "create table telemetryData1 (     timestamp datetimeoffset(7),     truckId int,     fuel int,     temperature int,     humidity int,     lat decimal(7,5),     lon decimal(7,5),     FOREIGN KEY (truckId) REFERENCES trucks(truckId) );",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "11616ff3.8765a"
            ]
        ]
    },
    {
        "id": "e8d66e3f.5cb9c",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Alerts Table",
        "topic": "",
        "payload": "create table alerts1 (truckId int, type nvarchar(10), issue nvarchar(50), timestamp datetimeoffset(7), foreign key (truckId) references trucks1(truckId))",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "11616ff3.8765a"
            ]
        ]
    },
    {
        "id": "b43e4236.5a09b",
        "type": "comment",
        "z": "8ecfdd88.6924c",
        "name": "Create Database Tables",
        "info": "",
        "x": 240,
        "y": 240,
        "wires": []
    },
    {
        "id": "cae2e4e6.02f918",
        "type": "function",
        "z": "8ecfdd88.6924c",
        "name": "Create Job",
        "func": "var jobId=50001\nvar truckId=null\nvar startLat = 19.18781\nvar startLon = 72.97325\nvar destinationLat = 19.01899\nvar destinationLon = 72.83467\nvar status=null     //null,active,failed,completed\nvar startDate = new Date().toISOString();\nvar completedAt = null\n\nmsg.payload=`insert into jobs( jobId, truckId,startlat,startLon, destinationLat, destinationLon, status,startDate, completedAt)\n            values (${jobId},${truckId},${startLat},${startLon},${destinationLat}, ${destinationLon}, ${status},'${startDate}', ${completedAt})`\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 760,
        "wires": [
            [
                "f30b79b5.595d48"
            ]
        ]
    },
    {
        "id": "ee282b21.fb3d28",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Create",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 760,
        "wires": [
            [
                "cae2e4e6.02f918"
            ]
        ]
    },
    {
        "id": "5617a2e6.64e74c",
        "type": "debug",
        "z": "8ecfdd88.6924c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 820,
        "wires": []
    },
    {
        "id": "5e3a9fcc.ac596",
        "type": "function",
        "z": "8ecfdd88.6924c",
        "name": "CreateTruck",
        "func": "var licensePlate = 'AB45HH5461';\nvar onDuty = null;\nvar driverName = 'Ruchir';\nvar mobileNumber = '9876543210';\nvar reportTo = 'Shop 55';\nvar truckId = 10004;\nvar createdAt = new Date().toISOString();\nvar connectivityType = 'GSM';\n\nmsg.payload = `insert into trucks (truckId, licensePlate, onDuty, driverName, mobileNumber, reportTo, connectivityType, createdAt)\nvalues(${truckId}, '${licensePlate}', ${onDuty},'${driverName}', ${mobileNumber},'${reportTo}','${connectivityType}','${createdAt}')`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 840,
        "wires": [
            [
                "f30b79b5.595d48"
            ]
        ]
    },
    {
        "id": "ca51d585.2f8778",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Truck",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "5e3a9fcc.ac596"
            ]
        ]
    },
    {
        "id": "40020fa9.921db",
        "type": "azure-event-hub-receive",
        "z": "8ecfdd88.6924c",
        "d": true,
        "name": "",
        "connectionstring": "Endpoint=sb://ihsuprodpnres017dednamespace.servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=YVbc939eqEGc8n5WXcosDruVkHvbZMsd721HEUFW1Cg=;EntityPath=iothub-ehub-iot-hub-us-3339804-aa866de4a1",
        "consumergroup": "$default",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "44d2535a.6a8b5c"
            ]
        ]
    },
    {
        "id": "e30278d2.c0cd08",
        "type": "comment",
        "z": "8ecfdd88.6924c",
        "name": "Save data of IoT Hub to database",
        "info": "",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "b07f151.04a72e8",
        "type": "MSSQL",
        "z": "8ecfdd88.6924c",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 620,
        "y": 600,
        "wires": [
            [
                "6d7f0a45.e7a054"
            ]
        ]
    },
    {
        "id": "44d2535a.6a8b5c",
        "type": "function",
        "z": "8ecfdd88.6924c",
        "name": "Insert query",
        "func": "var data = msg.payload;\n\nvar query = `insert into telemetryData (timestamp,truckId,fuel,temperature,humidity,lat,lon)\nvalues ('${data.timestamp}',${data.truckId},${data.fuel},${data.temperature},${data.humidity},${data.lat},${data.lon});`;\n\nmsg.payload = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "b07f151.04a72e8"
            ]
        ]
    },
    {
        "id": "6d7f0a45.e7a054",
        "type": "debug",
        "z": "8ecfdd88.6924c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "f30b79b5.595d48",
        "type": "MSSQL",
        "z": "8ecfdd88.6924c",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 620,
        "y": 820,
        "wires": [
            [
                "5617a2e6.64e74c"
            ]
        ]
    },
    {
        "id": "4f5e15a3.04f48c",
        "type": "function",
        "z": "8ecfdd88.6924c",
        "name": "Update Job",
        "func": "var jobId=50001\nvar truckId=10010\nvar startLat = 19.18781\nvar startLon = 72.97325\nvar destinationLat = 19.01899\nvar destinationLon = 72.83467\nvar status='active'     //null,active,failed,completed\nvar startDate = new Date().toISOString();\nvar completedAt = null\n\nmsg.payload=`update jobs set \ntruckId=${truckId},\nstartLat= ${startLat},\nstartLon=${startLon},\ndestinationLat=${destinationLat},\ndestinationLon=${destinationLon},\nstatus='${status}',\nstartDate='${startDate}',\ncompletedAt=${completedAt}\nwhere jobId=${jobId};`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 800,
        "wires": [
            [
                "f30b79b5.595d48"
            ]
        ]
    },
    {
        "id": "a3e1663f.c4c6b8",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 800,
        "wires": [
            [
                "4f5e15a3.04f48c"
            ]
        ]
    },
    {
        "id": "9077aefa.00de7",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "select",
        "query": "select * from trucks;",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "f82d1197.7f546"
            ]
        ]
    },
    {
        "id": "f82d1197.7f546",
        "type": "ui_table",
        "z": "76cd96fb.e1e968",
        "group": "ffe4e15d.34c5d",
        "name": "Truck List",
        "order": 1,
        "width": 24,
        "height": 11,
        "columns": [
            {
                "field": "truckId",
                "title": "Truck ID",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "licensePlate",
                "title": "License Plate",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "reportTo",
                "title": "Reports to",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "connectivityType",
                "title": "Connectivity Type",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "onduty",
                "title": "On Duty",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "d959fd94.0de49",
                "dc452e5a.32c4c"
            ]
        ]
    },
    {
        "id": "ac6a5d88.b5438",
        "type": "inject",
        "z": "76cd96fb.e1e968",
        "d": true,
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 640,
        "wires": [
            [
                "9077aefa.00de7"
            ]
        ]
    },
    {
        "id": "5571fe03.17be2",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "957f1406.50ea08",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "IoT Device ID",
        "label": "Truck ID",
        "format": "{{msg.payload.truckId}}",
        "layout": "col-center",
        "x": 800,
        "y": 800,
        "wires": []
    },
    {
        "id": "b7826a9d.7be8a8",
        "type": "comment",
        "z": "76cd96fb.e1e968",
        "name": "Truck View",
        "info": "",
        "x": 780,
        "y": 760,
        "wires": []
    },
    {
        "id": "a2d37d2.b376f8",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "957f1406.50ea08",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "License Plate",
        "label": "License Plate",
        "format": "{{msg.payload.licensePlate}}",
        "layout": "col-center",
        "x": 800,
        "y": 840,
        "wires": []
    },
    {
        "id": "f641e497.e78c28",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "957f1406.50ea08",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "Connectivity Status",
        "label": "Reports To",
        "format": "{{msg.payload.reportTo}}",
        "layout": "col-center",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "2d40b7a3.2af518",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "957f1406.50ea08",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Onduty",
        "format": "{{msg.payload.onduty}}",
        "layout": "col-center",
        "x": 780,
        "y": 920,
        "wires": []
    },
    {
        "id": "c7837a39.3d0588",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "957f1406.50ea08",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Connectivity",
        "format": "{{msg.payload.connectivityType}}",
        "layout": "col-center",
        "x": 790,
        "y": 960,
        "wires": []
    },
    {
        "id": "74bb7b3d.7ccc64",
        "type": "comment",
        "z": "76cd96fb.e1e968",
        "name": "S3 - Print truck related information",
        "info": "",
        "x": 280,
        "y": 740,
        "wires": []
    },
    {
        "id": "641111ae.ee814",
        "type": "ui_ui_control",
        "z": "76cd96fb.e1e968",
        "name": "",
        "events": "all",
        "x": 820,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d959fd94.0de49",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "",
        "func": "global.set('truckId',msg.payload.truckId)\nmsg.payload = {\n    tab : \"Truck View\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 640,
        "wires": [
            [
                "641111ae.ee814"
            ]
        ]
    },
    {
        "id": "f7113094.bbf34",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 860,
        "wires": [
            [
                "5571fe03.17be2",
                "a2d37d2.b376f8",
                "f641e497.e78c28",
                "2d40b7a3.2af518",
                "c7837a39.3d0588"
            ]
        ]
    },
    {
        "id": "4cee26c6.010b88",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "Live status query",
        "func": "var truckId= global.get('truckId') || 10001;\nmsg.payload=`select t.truckId, t.connectivityType,t.driverName,t.mobileNumber,t.reportTo, maxd.ts, td.fuel, td.temperature, td.humidity, td.lat, td.lon from trucks \nas t left join (select truckId, MAX(timestamp) as ts from telemetryData group by truckId) \nas maxd on t.truckId=maxd.truckId left join telemetryData td on t.truckId = td.truckId \nwhere maxd.ts = td.timestamp and t.truckId = ${truckId}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "d5521edd.8558a"
            ]
        ]
    },
    {
        "id": "d5521edd.8558a",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 420,
        "y": 1120,
        "wires": [
            [
                "bf25e24d.74079",
                "e4162b60.31d208",
                "70352610.576e08",
                "23912b23.6f1724",
                "f942cf9b.3cfa7"
            ]
        ]
    },
    {
        "id": "bf25e24d.74079",
        "type": "change",
        "z": "76cd96fb.e1e968",
        "name": "Fuel",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].fuel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "eb391702.b283e8"
            ]
        ]
    },
    {
        "id": "eb391702.b283e8",
        "type": "ui_gauge",
        "z": "76cd96fb.e1e968",
        "name": "Fuel Level",
        "group": "b17d4fb4.1c03c",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Fuel",
        "label": "Litres",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e4162b60.31d208",
        "type": "change",
        "z": "76cd96fb.e1e968",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "93c0e73a.4bf8f8"
            ]
        ]
    },
    {
        "id": "93c0e73a.4bf8f8",
        "type": "ui_gauge",
        "z": "76cd96fb.e1e968",
        "name": "Current Temperature",
        "group": "b17d4fb4.1c03c",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "degree celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "10",
        "x": 820,
        "y": 1060,
        "wires": []
    },
    {
        "id": "70352610.576e08",
        "type": "change",
        "z": "76cd96fb.e1e968",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "44eced4e.edce44"
            ]
        ]
    },
    {
        "id": "44eced4e.edce44",
        "type": "ui_gauge",
        "z": "76cd96fb.e1e968",
        "name": "Current Humidity",
        "group": "b17d4fb4.1c03c",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "percentage",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 810,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f942cf9b.3cfa7",
        "type": "change",
        "z": "76cd96fb.e1e968",
        "name": "Truck Location",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.driverName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": ":truck:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "payload.driverName",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1180,
        "wires": [
            [
                "52ddfdb3.2a2eb4"
            ]
        ]
    },
    {
        "id": "23912b23.6f1724",
        "type": "change",
        "z": "76cd96fb.e1e968",
        "name": "Last Message At",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].ts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1140,
        "wires": [
            [
                "3ace62a6.505a5e"
            ]
        ]
    },
    {
        "id": "3ace62a6.505a5e",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "b17d4fb4.1c03c",
        "order": 5,
        "width": 8,
        "height": 2,
        "name": "Last Message",
        "label": "Last Message at",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 800,
        "y": 1140,
        "wires": []
    },
    {
        "id": "47af40be.985bf",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "924cbba1.028fb8",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "Destination",
        "label": "Going to",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 950,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f52e0b10.a90148",
        "type": "ui_text",
        "z": "76cd96fb.e1e968",
        "group": "924cbba1.028fb8",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "Start Point",
        "label": "Started From",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 950,
        "y": 1480,
        "wires": []
    },
    {
        "id": "657375b0.7f5b7c",
        "type": "comment",
        "z": "76cd96fb.e1e968",
        "name": "Journey Details",
        "info": "",
        "x": 500,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f2368ac4.e54208",
        "type": "http request",
        "z": "76cd96fb.e1e968",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 1420,
        "wires": [
            [
                "8825f1b5.df45"
            ]
        ]
    },
    {
        "id": "74ae03c8.62c05c",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "query",
        "func": "var truckId =  global.get('truckId') || 10001;\nvar query = `select truckId,jobId,startLat,startLon,destinationLat,destinationLon from jobs where truckId = '${truckId}' and status = 'active'`;\nmsg.payload = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 1340,
        "wires": [
            [
                "657995c8.5d458c"
            ]
        ]
    },
    {
        "id": "657995c8.5d458c",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 280,
        "y": 1340,
        "wires": [
            [
                "7c543f2f.ac8bc"
            ]
        ]
    },
    {
        "id": "37eff84d.38dd78",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "Start Address",
        "func": "var job = msg.payload[0];\n\nvar url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${job.startLon},${job.startLat}.json?access_token=pk.eyJ1IjoicmFuZG9tdmFsdWU3ODYiLCJhIjoiY2theTk5bHk1MDdkNTJ4bWl6ZmE2MWZhMyJ9.YGQTSRmZEg0ARqzc3uqadw`\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1420,
        "wires": [
            [
                "f2368ac4.e54208"
            ]
        ]
    },
    {
        "id": "8825f1b5.df45",
        "type": "json",
        "z": "76cd96fb.e1e968",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 1420,
        "wires": [
            [
                "9e423443.7282b8"
            ]
        ]
    },
    {
        "id": "9e423443.7282b8",
        "type": "change",
        "z": "76cd96fb.e1e968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.features[0].place_name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1420,
        "wires": [
            [
                "f52e0b10.a90148"
            ]
        ]
    },
    {
        "id": "e1c867ef.7d89a8",
        "type": "http request",
        "z": "76cd96fb.e1e968",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 1460,
        "wires": [
            [
                "a6fe05ef.64ec08"
            ]
        ]
    },
    {
        "id": "b0b3bf9e.c2f3d",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "Destination Address",
        "func": "var job = msg.payload[0];\n\nvar url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${job.destinationLon},${job.destinationLat}.json?access_token=pk.eyJ1IjoicmFuZG9tdmFsdWU3ODYiLCJhIjoiY2theTk5bHk1MDdkNTJ4bWl6ZmE2MWZhMyJ9.YGQTSRmZEg0ARqzc3uqadw`\n\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 1460,
        "wires": [
            [
                "e1c867ef.7d89a8"
            ]
        ]
    },
    {
        "id": "a6fe05ef.64ec08",
        "type": "json",
        "z": "76cd96fb.e1e968",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 1460,
        "wires": [
            [
                "54190885.555ae8"
            ]
        ]
    },
    {
        "id": "54190885.555ae8",
        "type": "change",
        "z": "76cd96fb.e1e968",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.features[0].place_name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1460,
        "wires": [
            [
                "47af40be.985bf"
            ]
        ]
    },
    {
        "id": "a55bdaaf.d40168",
        "type": "link in",
        "z": "76cd96fb.e1e968",
        "name": "From table View",
        "links": [
            "dc452e5a.32c4c"
        ],
        "x": 455,
        "y": 860,
        "wires": [
            [
                "f7113094.bbf34"
            ]
        ]
    },
    {
        "id": "dc452e5a.32c4c",
        "type": "link out",
        "z": "76cd96fb.e1e968",
        "name": "Truck View",
        "links": [
            "a55bdaaf.d40168",
            "3785149e.00348c",
            "2afa9e2c.fd1c42",
            "f1423a6d.f46258"
        ],
        "x": 635,
        "y": 700,
        "wires": []
    },
    {
        "id": "3785149e.00348c",
        "type": "link in",
        "z": "76cd96fb.e1e968",
        "name": "From table View",
        "links": [
            "dc452e5a.32c4c"
        ],
        "x": 75,
        "y": 1120,
        "wires": [
            [
                "4cee26c6.010b88"
            ]
        ]
    },
    {
        "id": "7c543f2f.ac8bc",
        "type": "switch",
        "z": "76cd96fb.e1e968",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            },
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 70,
        "y": 1460,
        "wires": [
            [
                "37eff84d.38dd78",
                "b0b3bf9e.c2f3d"
            ],
            [
                "40bab417.96b9ec"
            ]
        ]
    },
    {
        "id": "40bab417.96b9ec",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "Undefined Msg",
        "func": "msg.payload='Not Available'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1500,
        "wires": [
            [
                "f52e0b10.a90148",
                "47af40be.985bf"
            ]
        ]
    },
    {
        "id": "2afa9e2c.fd1c42",
        "type": "link in",
        "z": "76cd96fb.e1e968",
        "name": "From table View",
        "links": [
            "dc452e5a.32c4c"
        ],
        "x": 35,
        "y": 1340,
        "wires": [
            [
                "74ae03c8.62c05c"
            ]
        ]
    },
    {
        "id": "9998f9e8.1834e8",
        "type": "comment",
        "z": "8ecfdd88.6924c",
        "name": "Create Static Data",
        "info": "",
        "x": 130,
        "y": 720,
        "wires": []
    },
    {
        "id": "5dd61bde.0a74e4",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "query",
        "func": "var truckId = msg.payload.truckId || global.get('truckId') || 10001;\nglobal.set('truckId', truckId);\n\nvar query = `Select top 30 truckId, timestamp,fuel,temperature,humidity from telemetryData where truckId = ${truckId} and timestamp > DATEADD(hh, -01, GETDATE()) order by timestamp DESC`;\n\nmsg.payload = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 1620,
        "wires": [
            [
                "9a5502bc.9cb06"
            ]
        ]
    },
    {
        "id": "9a5502bc.9cb06",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 300,
        "y": 1620,
        "wires": [
            [
                "c6d1722e.0fe4f"
            ]
        ]
    },
    {
        "id": "fa3bdc7b.77121",
        "type": "ui_chart",
        "z": "76cd96fb.e1e968",
        "name": "Temperature",
        "group": "a58f1398.0ba36",
        "order": 2,
        "width": 12,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "-5",
        "ymax": "40",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 830,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "329382a6.c8454e",
        "type": "ui_chart",
        "z": "76cd96fb.e1e968",
        "name": "Humidity",
        "group": "a58f1398.0ba36",
        "order": 1,
        "width": 12,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0%",
        "ymax": "100%",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 820,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "2c89e1c9.172cae",
        "type": "comment",
        "z": "76cd96fb.e1e968",
        "name": "Telemetry",
        "info": "",
        "x": 520,
        "y": 1580,
        "wires": []
    },
    {
        "id": "b2456aa4.0461b8",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "Temp formatting",
        "func": "var temp = msg.payload.temperature;\nvar time = msg.payload.timestamp;\n\n\n\nmsg.payload ={\n    x : time,\n    y : temp\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 1760,
        "wires": [
            [
                "2f41ec0.3e3a814"
            ]
        ]
    },
    {
        "id": "ef11cddc.547bf",
        "type": "split",
        "z": "76cd96fb.e1e968",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 110,
        "y": 1780,
        "wires": [
            [
                "b2456aa4.0461b8",
                "ff438589.83e718"
            ]
        ]
    },
    {
        "id": "2f41ec0.3e3a814",
        "type": "join",
        "z": "76cd96fb.e1e968",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 1760,
        "wires": [
            [
                "397613a9.edf65c"
            ]
        ]
    },
    {
        "id": "397613a9.edf65c",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "format",
        "func": "msg.payload = [{\n    \"series\" : [\"Temperature\"],\n    \"data\" : [msg.payload]\n}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1760,
        "wires": [
            [
                "fa3bdc7b.77121"
            ]
        ]
    },
    {
        "id": "ff438589.83e718",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "Humidity formatting",
        "func": "var temp = msg.payload.humidity;\nvar time = msg.payload.timestamp;\n\n\n\nmsg.payload ={\n    x : time,\n    y : temp\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1800,
        "wires": [
            [
                "19d327c0.b3d248"
            ]
        ]
    },
    {
        "id": "19d327c0.b3d248",
        "type": "join",
        "z": "76cd96fb.e1e968",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 1800,
        "wires": [
            [
                "de63ac72.08966"
            ]
        ]
    },
    {
        "id": "de63ac72.08966",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "format",
        "func": "msg.payload = [{\n    \"series\" : [\"Humidity\"],\n    \"data\" : [msg.payload]\n}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1800,
        "wires": [
            [
                "329382a6.c8454e"
            ]
        ]
    },
    {
        "id": "f1423a6d.f46258",
        "type": "link in",
        "z": "76cd96fb.e1e968",
        "name": "From table View",
        "links": [
            "dc452e5a.32c4c"
        ],
        "x": 35,
        "y": 1580,
        "wires": [
            [
                "5dd61bde.0a74e4"
            ]
        ]
    },
    {
        "id": "e11c459c.9a6c08",
        "type": "inject",
        "z": "76cd96fb.e1e968",
        "name": "Refresh Data",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "56d4108d.bdfac"
            ]
        ]
    },
    {
        "id": "56d4108d.bdfac",
        "type": "link out",
        "z": "76cd96fb.e1e968",
        "name": "Refresh 30sec",
        "links": [
            "3bff04d6.7cfc7c",
            "775ed781.b653e8",
            "267d8610.c8262a",
            "ebc545ec.a3cea8"
        ],
        "x": 275,
        "y": 60,
        "wires": []
    },
    {
        "id": "775ed781.b653e8",
        "type": "link in",
        "z": "76cd96fb.e1e968",
        "name": "Refresh",
        "links": [
            "56d4108d.bdfac"
        ],
        "x": 155,
        "y": 300,
        "wires": [
            [
                "66c67f6.d9de28",
                "c4140280.17b47",
                "c02dba78.d53868",
                "a6b687a.4cc1f78"
            ]
        ]
    },
    {
        "id": "267d8610.c8262a",
        "type": "link in",
        "z": "76cd96fb.e1e968",
        "name": "Refresh",
        "links": [
            "56d4108d.bdfac"
        ],
        "x": 175,
        "y": 680,
        "wires": [
            [
                "9077aefa.00de7"
            ]
        ]
    },
    {
        "id": "3bff04d6.7cfc7c",
        "type": "link in",
        "z": "76cd96fb.e1e968",
        "name": "Refresh",
        "links": [
            "56d4108d.bdfac"
        ],
        "x": 75,
        "y": 1060,
        "wires": [
            [
                "4cee26c6.010b88"
            ]
        ]
    },
    {
        "id": "ebc545ec.a3cea8",
        "type": "link in",
        "z": "76cd96fb.e1e968",
        "name": "Refresh",
        "links": [
            "56d4108d.bdfac"
        ],
        "x": 35,
        "y": 1660,
        "wires": [
            [
                "5dd61bde.0a74e4"
            ]
        ]
    },
    {
        "id": "c6d1722e.0fe4f",
        "type": "switch",
        "z": "76cd96fb.e1e968",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 1720,
        "wires": [
            [
                "883d034a.ca076"
            ],
            [
                "ef11cddc.547bf"
            ]
        ]
    },
    {
        "id": "883d034a.ca076",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "format",
        "func": "msg.payload = []\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1720,
        "wires": [
            [
                "fa3bdc7b.77121",
                "329382a6.c8454e"
            ]
        ]
    },
    {
        "id": "965983b1.d5518",
        "type": "function",
        "z": "8ecfdd88.6924c",
        "name": "Update Truck",
        "func": "var jobId=50001\nvar truckId=10010\n\nmsg.payload=`update trucks set \nonduty=${jobId}\nwhere truckId=${truckId};`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 880,
        "wires": [
            [
                "f30b79b5.595d48"
            ]
        ]
    },
    {
        "id": "973b7313.28be8",
        "type": "function",
        "z": "76cd96fb.e1e968",
        "name": "Create Alerts",
        "func": "alerts='';\n\nvar trucks = msg.payload;\n\nfor(var i=0; i < trucks.length; ++i ){\n    var acceptedTime =  new Date().getTime()-60000;\n    var issue = 'NA';\n    \n    if(trucks[i].ts < acceptedTime){issue='Truck Offline'}\n    if(trucks[i].temperature > 15){issue='High Temperature'}\n    if(trucks[i].temperature <-5){issue='Low Temperature'}   \n    if(trucks[i].humidity > 50){issue = 'High Humidity'}\n    if(trucks[i].humidity < 30){issue = 'Low Humidity'}\n    if(trucks[i].fuel < 10){issue = 'Low on Fuel'}\n    \n    if(issue!=='NA'){\n    alerts += `INSERT INTO alerts (truckId, type,issue,timestamp)\n                    SELECT ${trucks[i].truckId}, 'alert', '${issue}', '${trucks[i].ts.toISOString()}'\n                    WHERE NOT EXISTS (SELECT * FROM alerts WHERE truckId = ${trucks[i].truckId} and type = 'alert' and issue ='${issue}'\n                    and timestamp='${trucks[i].ts.toISOString()}');`\n    }\n}\n\nmsg.payload=alerts\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "79e4baf1.92b0c4"
            ]
        ]
    },
    {
        "id": "79e4baf1.92b0c4",
        "type": "MSSQL",
        "z": "76cd96fb.e1e968",
        "mssqlCN": "b8fe4a64.a00338",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 660,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "56787b71.f91344",
        "type": "inject",
        "z": "8ecfdd88.6924c",
        "name": "Update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "965983b1.d5518"
            ]
        ]
    },
    {
        "id": "510cc0fd.cf208",
        "type": "inject",
        "z": "76cd96fb.e1e968",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "56d4108d.bdfac"
            ]
        ]
    },
    {
        "id": "52ddfdb3.2a2eb4",
        "type": "ui_worldmap",
        "z": "76cd96fb.e1e968",
        "group": "f37bbb11.618178",
        "order": 1,
        "width": 12,
        "height": 8,
        "name": "",
        "lat": "19.0760",
        "lon": "72.8777",
        "zoom": "10",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "path": "/truckmap",
        "urlPodPath": "/0f74d9bb-72d8-404b-b4b2-967b72836002",
        "x": 780,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4d68606a.5e7b6",
        "type": "ui_worldmap",
        "z": "76cd96fb.e1e968",
        "group": "820f6c8f.82131",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "19.0760",
        "lon": "72.8777",
        "zoom": "10",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "path": "/worldmap",
        "urlPodPath": "/0f74d9bb-72d8-404b-b4b2-967b72836002",
        "x": 760,
        "y": 420,
        "wires": []
    }
]